body {
    margin: 0;
    padding: 0;
}
div{
  background-color: lightblue;
  align-content: center;
  display: flex;
  flex-direction:column;}

.Hebler{
 display: flex;
 height: 250px;
 width: 250px;
 border: 5px solid black;
 padding: 4px;
 border-radius: 100%;
 top: 25px;
 bottom: 25px;
 margin: auto;
 position: relative;


}
.name{color: white;

  text-align: center;
  padding: 10px;
  

}
